.snowflakes {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
  overflow: hidden;
}

.snowflake {
  position: absolute;
  top: -10%;
  color: #fff;
  font-size: 1.5em;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  user-select: none;
  animation: fall linear infinite;
}

@keyframes fall {
  0% {
    top: -10%;
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }

  100% {
    top: 110%;
    transform: translateX(100px) rotate(360deg);
    opacity: 1;
  }
}

.snowflake:nth-child(1) {
  left: 10%;
  animation-duration: 10s;
  animation-delay: 0s;
  font-size: 1em;
}

.snowflake:nth-child(2) {
  left: 20%;
  animation-duration: 8s;
  animation-delay: 1s;
  font-size: 1.5em;
}

.snowflake:nth-child(3) {
  left: 30%;
  animation-duration: 12s;
  animation-delay: 2s;
  font-size: 0.8em;
}

.snowflake:nth-child(4) {
  left: 40%;
  animation-duration: 9s;
  animation-delay: 0.5s;
  font-size: 1.2em;
}

.snowflake:nth-child(5) {
  left: 50%;
  animation-duration: 11s;
  animation-delay: 1.5s;
  font-size: 1em;
}

.snowflake:nth-child(6) {
  left: 60%;
  animation-duration: 7s;
  animation-delay: 2.5s;
  font-size: 1.4em;
}

.snowflake:nth-child(7) {
  left: 70%;
  animation-duration: 10s;
  animation-delay: 3s;
  font-size: 0.9em;
}

.snowflake:nth-child(8) {
  left: 80%;
  animation-duration: 9s;
  animation-delay: 0.8s;
  font-size: 1.3em;
}

.snowflake:nth-child(9) {
  left: 90%;
  animation-duration: 11s;
  animation-delay: 1.2s;
  font-size: 1.1em;
}

.snowflake:nth-child(10) {
  left: 5%;
  animation-duration: 8s;
  animation-delay: 2.8s;
  font-size: 0.7em;
}

.snowflake:nth-child(11) {
  left: 15%;
  animation-duration: 10s;
  animation-delay: 3.5s;
  font-size: 1.6em;
}

.snowflake:nth-child(12) {
  left: 85%;
  animation-duration: 9s;
  animation-delay: 1.8s;
  font-size: 1.2em;
}