html {
    cursor: url('../images/cursor.png'), auto;
    scrollbar-width: thin;
    scrollbar-color: crimson #220625;
    overflow-x:hidden;
    overflow-y:auto;
}
a, button, [role="button"] {
    cursor: url('../images/cursor.png'), pointer;
}
body {
    background: linear-gradient(230deg, #000000 0%, #2e0b2e 25%, #571b4f 50%, #2e0b2e 75%, #000000 100%);
}
.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.jolly-lodger-regular {
  font-family: "Jolly Lodger", system-ui;
  font-weight: 400;
  font-style: normal;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.center {
    text-align: center;
}
.github-ribbon {
    position: fixed;
    top: 0;
    right: 0;
    border: 0;
    z-index: 1001;
}
nav {
    position: sticky;
    top: 0;
    background-color: black;
    padding: 10px 0;
    margin: 0;
    border: 2px solid red;
    box-shadow: 0 0 10px red;
    z-index: 1000;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}
nav li {
    margin: 0 20px;
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    border: 1px solid red;
    border-radius: 5px;
    transition: background-color 0.3s;
}
nav a:hover {
    background-color: red;
    color: black;
}
.glow-round {
    display: block;              
    margin: 20px auto;           
    border-radius: 50%;          
    border: 5px solid rgb(136, 22, 126);      
    box-shadow: 0 0 20px rgb(255, 0, 149);    
    height: 200px;
    width: 200px;
    object-fit: cover;          
}
#me {
    margin-top: 80px;
}
.container {
  display: flex;
  gap: 20px;              /* Space between table and text box */
  align-items: flex-start; /* Align to top */
  justify-content: left; 
  margin: 100px 50px 10px 150px;
}

#boutme {
  border-collapse: collapse;;
}

#boutme th, td {
  border: 1px solid #580a58;
  padding: 10px;
}

.text-box {
  border: 1px solid #2e0d2b;
  border-radius: 10px;
  padding: 15px;
  background-color: #580154;
  max-width: auto;
}
footer {
    background-color: #1c0525; 
    color: #ccc;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px; 
    border-top: 2px solid rgb(0, 0, 0); 
}
.imprint-container {
    max-width: 800px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.5;
}