body {
    background-color: rgb(39, 14, 36);
}
.jumpscare {
    display: block;
    width: 400px;
    margin-bottom: 20px;
}
.image-and-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
table, th, td {
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
    background-color: #6d1365;
}
th, td {
    padding: 10px;
    text-align: left;
    color: white;
}
th {
    text-align: center;
    font-size: larger;
}
.p {
    font-size: 30px;
}
.github-ribbon {
    position: fixed;      
    top: 0;              
    right: 0;             
    border: 0;           
    z-index: 1000;
}
.container {
    display: flex;
    gap: 30px;
    align-items: flex-start;
}
.text-box {
    flex: 1;
    background-color: #5a1c55;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.jolly-lodger-regular {
  font-family: "Jolly Lodger", system-ui;
  font-weight: 400;
  font-style: normal;
}
.glow-red {
    color: red; 
    text-shadow: 
        0 0 3px red, 
        0 0 7px red, 
        0 0 10px darkred, 
        0 0 20px crimson; 
}
.fancy-red {
    color: red;
    text-shadow:
    0 0 5px black,
    0 0 10px red,
}
h1 {
    text-align: center;
    font-size:100px ;
    color: white;
}
.button {
    background-color: black;
    color: whitesmoke;
    border: rebeccapurple;
    border-radius: 25px;
    text-align: center;
    font-size: small;
    display: block;

}
.flash-active {
    display: block;
    opacity: 1;
}
#flash-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(91, 7, 94);
    z-index: 9999;
    transition: opacity 0.3s;
}
#jumpscare-overlay {
    position: fixed; /* ganzer bildschirm */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex; /* zentrieren */
    justify-content: center; /* zentrieren */
    align-items: center; /* zentrieren */
    z-index: 10000; /* ueberdeckt alles */
}
#jumpscare-img {
    max-width: 80%;
    max-height: 80%;
}