body {
    background-color: rgb(39, 14, 36);
}
h1 {
    text-align: center;
    font-size:100px ;
    color: white;
}
.glow-round {
    display: block;              
    margin: 20px auto;           
    border-radius: 50%;          
    border: 5px solid red;      
    box-shadow: 0 0 20px red;    
    height: 200px;
    width: 200px;
    object-fit: cover;          
}
.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.jolly-lodger-regular {
  font-family: "Jolly Lodger", system-ui;
  font-weight: 400;
  font-style: normal;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.center {
    text-align: center;
}
h3 {
    font-size: 55px;
    color:crimson;
}
.glow-red {
    color: red; 
    text-shadow: 
        0 0 3px red, 
        0 0 7px red, 
        0 0 10px darkred, 
        0 0 20px crimson; 
}
.white {
    color: white;
}
.fancy-red {
    color: red;
    text-shadow:
    0 0 5px black,
    0 0 10px red,
}
.p {
    font-size: 30px;
}

.github-ribbon {
    position: fixed;      
    top: 0;              
    right: 0;             
    border: 0;           
    z-index: 1000;
}
.container {
    display: flex;
    gap: 30px;
    align-items: flex-start;
}
.text-box {
    flex: 1;
    background-color: #5a1c55;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.imgcenter {
    display: block;
    margin: auto;
    width: 200px;
    height: 300px;
}
.small {
    font-size: small;
    color: white;
}
.button {
    background-color: black;
    color: whitesmoke;
    border: rebeccapurple;
    border-radius: 25px;
    text-align: center;
    font-size: small;
    display: block;
    margin: 0 auto;
    width: fit-content;
}

